/* FONTS */
$georgia: Georgia, serif;
$arial: Arial, sans-serif;
/* FONTS */

/* COLORS */
$white: #ffffff;
$logoColor: #f1cdb3;
$navColor: #cdcdcd;
$buttonColor: #292929;
$buttonHover: #fddcc4;
$aboutColor: #fafafa;
$headerColor: #545454;
$descColor: #4c4c4c;
$petsBg: #f6f6f6;
/* COLORS */
