@media (max-width: 1130px) {
  .slider-wr .slider {
    max-width: 660px;
  }

  .pets .slider-wr {
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .donation {
    &__content {
      flex-direction: column;
    }

    &__img {
      margin-left: 0;
      margin-right: 0;
      align-self: center;
    }

    &__wr {
      align-self: center;
    }
  }
}

@media (max-width: 939px) {
  .footer {
    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__col {
      margin-right: 0;
    }
  }
}

@media (max-width: 800px) {
  .pets {
    .pets__content {
      padding: 35px 10px;
    }

    .slider {
      max-width: 270px;
    }

    .slide {
      margin: 0;
    }
  }
}

@media (max-width: 740px) {
  .main-screen {
    padding-bottom: 135px;
  }

  .header {
    padding-top: 30px;
    margin-bottom: 110px;
  }

  .about__content {
    padding: 45px 20px;
  }

  .about__img {
    margin-right: 0;
  }

  .help__content {
    padding: 50px 0 0;
  }

  .donation__content {
    padding: 31px 20px;
  }

  .donation__img {
    margin-top: 0;
  }

  .footer__content {
    padding-top: 30px;
    padding-bottom: 250px;
  }
}

@media (max-width: 520px) {
  .pets .slider-wr {
    justify-content: space-between;
  }
}

@media (max-width: 430px) {
  .help__col {
    margin-right: 10px;
    margin-left: 10px;
  }

  .pets .arrow {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 400px) {
  .pets {
    .slider {
      max-width: 250px;
    }

    .slide {
      max-width: 250px;

      &__img {
        width: 250px;
        height: 250px;
      }
    }
  }
}

@media (max-width: 360px) {
  .pets {
    .slider {
      max-width: 230px;
    }

    .slide {
      max-width: 230px;

      &__img {
        width: 230px;
        height: 230px;
      }
    }
  }
}
