@import "./commonCss/variables.scss";

.help {
  &__content {
    padding: 65px 0 0;
  }

  &__header {
    padding: 0 20px;
    margin: 0 auto 70px;
    max-width: 320px;
    text-align: center;
  }

  &__wr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__col {
    width: 100%;
    max-width: 152px;
    margin: 0 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 22px;
  }

  &__caption {
    margin-top: auto;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 1.2px;
    color: $headerColor;
    text-align: center;
  }
}
